<%= bootstrap_form_for(@subscriber, as: :subscriptions, url: admin_subscriber_update_all_path, html: { method: :put }) do |f| %>
  <% if @subscriber.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-error">
        <%= "#{pluralize(@subscriber.errors.count, "error")} prohibited this booking from being saved:" %>
      </div>
    </div>
  <% end %>

  <%= render 'shared/subscription', f: f%>

  <strong>Changing number of subscriptions will change your monthly payment on card ending in <%= @subscriber.payment_card.try(:last4) || 'No Card' %></strong>
  </br>

  <%= f.submit 'Update', class: "btn btn-default btn-sm btn-success" %>
<% end %>
