<p>
  <strong>Name:</strong>
  <%= @subscriber.full_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @subscriber.email %>
</p>

<p>
  <strong>Address:</strong>
  <%= @subscriber.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @subscriber.phone %>
</p>

<p>
  <strong>Collection point:</strong>
  <%= @subscriber.collection_point.name %><br>
  <%= "#{@subscriber.collection_point.address}, #{@subscriber.collection_point.post_code}" %>
</p>

<% if subscriptions = @subscriber.subscriptions %>
  <p>
    <strong>Bread subscripts:</strong>
    <% bread_subs = subscriptions.active.map do |sub_item| %>
      <% next unless sub_item.paid %>
      <% "#{sub_item.bread_type.name} on #{sub_item.collection_day_name}" %>
    <% end %>
    <%= bread_subs.join(', ') %>
  </p>

  <% if changed_subscriptions = subscriptions.with_changes %>
    <p>
      <strong>Changes next week:</strong>
      <% bread_subs = changed_subscriptions.map do |sub_item| %>
        <% now = sub_item.collection_day ? "#{sub_item.bread_type.name} on #{sub_item.collection_day_name} becomes" : "a new subscription of"  %>
        <% "#{now} #{sub_item.next_bread_type.name} on #{sub_item.next_collection_day_name}" %>
      <% end %>
      <%= bread_subs.join(', ') %>
    </p>
  <% end %>
<% end %>

<p>
  <strong>Monthly Payment</strong>
  <%= number_to_currency @subscriber.monthly_payment %>
</p>

<p>
  <strong>Notes</strong>
  <%= @subscriber.notes %>
</p>

<p>
  <strong>Created at</strong>
  <%= @subscriber.created_at.to_date %>
</p>
<p>
  <strong>Updated at</strong>
  <%= @subscriber.updated_at.to_date %>
</p>

<%= link_to 'Holidays', admin_subscriber_holidays_path(@subscriber) %> |
<%= link_to 'Subscriptions', edit_all_admin_subscriber_subscriptions_path(@subscriber) %>
