<%= bootstrap_form_for([@subscriber, @holiday], layout: :vertical) do |f| %>
  <% if @holiday.errors.any? %>
    <div class="error_messages">
  </div>
  <% end %>
  <script type="text/javascript">
    $(document).ready(function(e) {

    $('#holiday_start_date').datepicker({ format: "dd/mm/yyyy", weekStart: 1,
        startDate: "<%= (Date.current + 3.days).strftime("%d/%m/%Y") %>",
        todayBtn: "linked", autoclose: true
        });

    $('#holiday_end_date').datepicker({ format: "dd/mm/yyyy",
      weekStart: 1, startDate: "<%= (Date.current + 4.days).strftime("%d/%m/%Y") %>",
      todayBtn: "linked", autoclose: true
      });

    });

  </script>

    <%= f.text_field :start_date %>
    <%= f.text_field :end_date %>
    <% button_label = @holiday.persisted? ? "Update" : "Create" %>
    <%= f.submit button_label, class: "btn btn-success" %>
<% end %>
