<%= bootstrap_form_for([:admin, @bread_type], layout: :vertical) do |f| %>
  <% if @bread_type.errors.any? %>
    <div class="error_messages">
  </div>
  <% end %>

    <%= f.text_area :name %>
    <%= f.check_box :sour_dough %>
    <%= f.check_box :wholesale_only %>
    <%= f.text_area :notes %>
  <% button_label = @bread_type.persisted? ? "Update" : "Create" %>
  <%= f.submit button_label, class: "btn btn-default btn-success" %>
<% end %>
