<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div><%= f.label :email %>
  <%= f.email_field :email, autofocus: true %></div>

  <div class="field">
    <%= f.label :address %>
    <%= f.text_area :address %>
  </div>

  <div class="field">
    <%= f.label :phone %>
    <%= f.phone_field :phone %>
  </div>

  <div class="form-group">
    <%= f.label :collection_point %>
    <%= f.collection_select(:collection_point_id, CollectionPoint.all, :id, :name) %>
  </div>

  <div class="items">
    <%= f.nested_fields_for :subscriber_items do |f| %>
      <fieldset class="item">
      <div class="field">
        <%= f.label "Bread Type" %>
        <%= f.collection_select(:bread_type_id, BreadType.all, :id, :name) %>
      </div>

      <a href="#" class="remove">remove</a>
      <%= f.hidden_field :id %>
      <%= f.hidden_field :_destroy %>
    </fieldset>
  <% end %>
  </div>
  <a href="#" class="add">add a bread subscription</a>
  <script type="text/javascript">
    $(document).ready(function(e) {
        $('FORM').nestedFields();
        });

$('#order_date').datepicker({
format: "dd/mm/yyyy",
weekStart: 1,
todayBtn: "linked",
daysOfWeekDisabled: "0,1,2,4,6"
});
  </script>


  <div class="form-group">
    <%= f.label :notes %>
    <%= f.text_area :notes %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div><%= f.label :new_password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  <div><%= f.label :new_password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

  <div><%= f.label :current_password %> <i>(only if your changing your username or password)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %></div>

  <div><%= f.submit "Update" %></div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
