<h2>Subscribe</h2>
<%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name), layout: :vertical) do |f| %>
  <% if @subscriber.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-error">
        <%= "#{pluralize(@subscriber.errors.count, "error")} prohibited this booking from being saved:" %>
      </div>
    </div>
  <% end %>

  <%= f.email_field :email, autofocus: true %>
  <%= f.text_field :name %>
  <%= f.text_area :address %>
  <%= f.phone_field :phone %>
  <%= f.collection_select(:collection_point_id, CollectionPoint.all, :id, :name) %>

  <div class="input-append date">
    <%= f.label :start_date, "Start date" %>
    <input class="col-sm-4" data-behaviour='datepicker' value="<%= ((Date.current + 7.days).beginning_of_week + 2.days).try(:strftime, "%d/%m/%Y") %>" id="subscriber_start_date" name="subscriber[start_date]" type="text">
    </input>
    <span class="add-on">
      <i class="icon-th"></i>
    </span>
  </div>
  <div class="items">
    <%= f.nested_fields_for :subscriber_items do |f| %>
      <fieldset class="item">
      <div class="field">
        <%= f.collection_select(:bread_type_id, BreadType.all, :id, :name) %>
      </div>

      <a href="#" class="remove">remove</a>

      <%= f.hidden_field :_destroy %>
    </fieldset>
  <% end %>
  </div>
  <a href="#" class="add">add a bread subscription</a>
  <script type="text/javascript">
    $(document).ready(function(e) {
        $('FORM').nestedFields();
        });

$('#order_date').datepicker({
format: "dd/mm/yyyy",
weekStart: 1,
todayBtn: "linked",
daysOfWeekDisabled: "0,1,2,4,6"
});
  </script>


  <%= f.text_area :notes %>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> </div>
<% end -%>

  <%= f.password_field :password, autocomplete: "off" %>

  <%= f.submit "Subscribe", class: "btn btn-success" %>

  <div class="actions pull-right">
    <div class="soft">
    </div>
  </div>

<% end %>
