<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @collection_point.address %>
</p>

<p>
  <strong>Post code:</strong>
  <%= @collection_point.post_code %>
</p>

<p>
  <strong>Valid days:</strong>
  <%= @collection_point.valid_day_names %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @collection_point.notes %>
</p>

<p>
  <strong>Name:</strong>
  <%= @collection_point.name %>
</p>

<%= link_to 'Edit', edit_admin_collection_point_path(@collection_point) %> |
<%= link_to 'Back', admin_collection_points_path %>
