<p id="notice"><%= notice %></p>

<p>
  <strong>Start date:</strong>
  <%= @holiday.start_date.strftime("%d/%m/%y") %>
</p>

<p>
  <strong>End date:</strong>
  <%= @holiday.end_date.strftime("%d/%m/%y") %>
</p>

<%= link_to 'Edit', edit_admin_subscriber_holiday_path(@subscriber, @holiday) %> |
<%= link_to 'Back', admin_subscriber_holidays_path(@subscriber) %>
