<h1>Orders for <%= @wholesale_customer.name %></h1>

<div class="btn-group">
  <%= link_to 'Future', params.merge(future: true), class: "btn btn-default" %>
  <%= link_to 'All', params.merge(future: false), class: "btn btn-default" %>
</div>
<%= will_paginate @orders, renderer: BootstrapPagination::Rails %>
<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Items</th>
      <th>Regular</th>
      <th>Sample</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= link_to order.date.strftime("%d/%m/%y"), [:admin, @wholesale_customer, order] %></td>
        <td><%= order.line_items.ordered.map{|li| "#{li.quantity}x#{li.bread_type.name}" }.join('</br>').html_safe %></td>
        <td><%= order.regular %></td>
        <td><%= order.sample %></td>
        <td>
          <div class='btn-group'>
            <%= link_to 'Edit', edit_admin_wholesale_customer_order_path(@wholesale_customer, order), class: 'btn btn-default btn-xs'  %>
            <%= link_to 'Destroy', [:admin, @wholesale_customer, order],
              method: :delete, class: 'btn btn-default btn-xs btn-danger', data: { confirm: 'Are you sure?' } %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @orders, renderer: BootstrapPagination::Rails %>

<%= link_to t('.new', :default => t("helpers.links.new")), new_admin_wholesale_customer_order_path(@wholesale_customer), :class => 'btn btn-primary' %>

<br>
