<h1>Collection Points</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Post code</th>
      <th>Notes</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @collection_points.each do |collection_point| %>
      <tr>
        <td><%= link_to collection_point.name, collection_point %></td>
        <td><%= collection_point.address %></td>
        <td><%= collection_point.post_code %></td>
        <td><%= collection_point.notes %></td>
        <td><%= link_to 'Edit', edit_collection_point_path(collection_point), class: 'btn btn-mini' %> </td>
        <td><%= link_to 'Destroy', collection_point, method: :delete, class: 'btn btn-mini btn-danger', data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Collection point', new_collection_point_path, :class => 'btn btn-primary btn-success' %>
