<h1>Subscription Holiday</h1>
<p>If you'd like to pause your subscription for any reason please let us know when your going away and when you'll be back.</p>

<%= form_tag "/holiday" do %>
    <div class="input-append date">
      <%= label_tag(:from_date, "From date") %>
      <%= text_field_tag(:from_date) %>
    </div>
    <div class="input-append date">
      <%= label_tag(:to_date, "To date") %>
      <%= text_field_tag(:to_date) %>
    </div>

  <script type="text/javascript">
$('#from_date').datepicker({
format: "dd/mm/yyyy",
weekStart: 1,
startDate: "<%= (Date.current + 3.days).strftime("%d/%m/%Y") %>",
todayBtn: "linked",
autoclose: true
});

$('#to_date').datepicker({
format: "dd/mm/yyyy",
weekStart: 1,
startDate: "<%= (Date.current + 4.days).strftime("%d/%m/%Y") %>",
todayBtn: "linked",
autoclose: true
});

  </script>
<%= submit_tag "Confirm" %>
<% end %>
<p>Enjoy your holiday.</p>
