<%= bootstrap_form_for(@subscriber, as: :subscriber, url: form_url, html: { method: html_method }) do |f| %>
  <% if @subscriber.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-error">
        <%= "#{pluralize(@subscriber.errors.count, "error")} prohibited this booking from being saved:" %>
      </div>
    </div>
  <% end %>

  <table class="table table-striped">
    <tbody>
      <tr>
        <td>
          <%= f.text_field :first_name, autofocus: true, inline: true  %>
        </td>
        <td>
          <%= f.text_field :last_name, inline: true  %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.email_field :email, inline: true  %>
        </td>
        <td>
          <%= f.phone_field :phone, inline: true  %>
        </td>
      </tr>
    </tbody>
  </table>

  <%= f.text_area :address %>
  <%= f.collection_select(:collection_point_id, CollectionPoint.all, :id, :name) %>

  <% unless @subscriber.persisted? %>
    <%= render 'shared/subscription', f: f %>
  <% end %>

  <% if @subscriber.persisted? && !current_subscriber.try(:admin?)%>
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <%= f.password_field :password, label: "New password (leave blank if you don't want to change it)", autocomplete: "off" %>

    <%= f.password_field :password_confirmation, label: "New password confimation" , autocomplete: "off" %>

    <%= f.password_field :current_password, label: "Current password (only if your changing your email or password)" , autocomplete: "off" %>
  <% else %>
    <%= f.password_field :password, autocomplete: "off" %>
  <% end %>

  <% unless current_subscriber.try(:admin?) %>
    <% if devise_mapping.rememberable? -%>
      <div><%= f.check_box :remember_me %> </div>
    <% end -%>
  <% end -%>

  <% button_label = @subscriber.persisted? ? "Update" : "Subscribe" %>
  <%= f.submit button_label, class: "btn btn-default btn-success" %>

<% end %>

