<%= bootstrap_form_for(@subscriber, as: :subscriber, url: registration_path(:subscriber), layout: :inline, html: { method: html_method }) do |f| %>
  <% if @subscriber.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-error">
        <%= "#{pluralize(@subscriber.errors.count, "error")} prohibited this booking from being saved:" %>
      </div>
    </div>
  <% end %>

  <table class="table table-striped">
    <tbody>
      <tr>
        <td>
          <%= f.text_field :first_name %>
        </td>
        <td>
          <%= f.text_field :last_name %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.email_field :email, autofocus: true %>
        </td>
        <td>
          <%= f.phone_field :phone %>
        </td>
      </tr>
    </tbody>
  </table>

  <%= f.text_area :address %>
  <%= f.collection_select(:collection_point_id, CollectionPoint.all, :id, :name) %>

  <h4> Subscriptions </h4>
  <div class="items">
    <%= f.nested_fields_for :subscriber_items do |g| %>
      <fieldset class="item">
      <table class="table table-striped">
        <tbody>
          <tr>
            <td>
              <%= g.collection_select(:bread_type_id, BreadType.all, :id, :name) %>

            </td>
            <td>
              <%= g.select(:collection_day, options_for_select([['Wednesday', 3], ['Friday', 5]], selected: g.object.collection_day ) ) %>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="field">
        <% if current_subscriber.try(:admin?) %>
          <%= g.check_box :paid, inline: true %>
        <% end %>
      </div>
      <a href="#" class="remove">remove subscription</a>

      <%= g.hidden_field :_destroy %>
    </fieldset>
    </br>
  <% end %>
  </div>
  <a href="#" class="add">add another bread subscription</a>
  <script type="text/javascript">
    $(document).ready(function(e) {
        $('FORM').nestedFields();

        if ($('.item').size() == 1) {
          $('.items').nestedFields('insert', function(item) {
            }, {skipBefore: false});
        }
        });
  </script>


  <%= f.text_area :notes %>

  <% unless current_subscriber.try(:admin?) %>
    <% if devise_mapping.rememberable? -%>
      <div><%= f.check_box :remember_me %> </div>
    <% end -%>

    <% if @subscriber.persisted? %>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <%= f.password_field :password, label: "New password (leave blank if you don't want to change it)", autocomplete: "off" %>

      <%= f.password_field :password_confirmation, label: "New password confimation" , autocomplete: "off" %>

      <%= f.password_field :current_password, label: "Current password (only if your changing your username or password)" , autocomplete: "off" %>
    <% else %>
      <%= f.password_field :password, autocomplete: "off" %>
    <% end %>

    <% button_label = @subscriber.persisted? ? "Update" : "Subscribe" %>
    <%= f.submit button_label, class: "btn btn-success" %>

  <% end %>
<% end %>

