<h4> Subscriptions </h4>
<div class="items">
  <%= f.nested_fields_for :subscriptions do |g| %>
    <fieldset class="item">
    <table class="table table-striped">
      <tbody>
        <tr>
          <td>
            <%= g.collection_select(:bread_type_id, BreadType.for_subscribers, :id, :name) %>

          </td>
          <td>
            <%= g.select(:collection_day, options_for_select([['Wednesday', 3], ['Friday', 5]], selected: g.object.collection_day ) ) %>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="field">
      <% if current_subscriber.try(:admin?) %>
        <%= g.check_box :paid, inline: true %>
      <% end %>
    </div>
    <a href="#" class="remove btn btn-default btn-default btn-xs btn-danger">remove</a>

    <%= g.hidden_field :_destroy %>
  </fieldset>
  </br>
<% end %>
</div>
<a href="#" class="add btn btn-default btn-xs btn-success">add bread subscription</a>
<script type="text/javascript">
  $(document).ready(function(e) {
      $('FORM').nestedFields();

      if ($('.item').size() == 1) {
        $('.items').nestedFields('insert', function(item) {
          }, {skipBefore: false});
      }
      });
</script>

<%= f.text_area :notes %>
