<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @email_template.name %>
</p>

<p>
  <strong>Body:</strong>
  <%= @email_template.body %>
</p>

<%= link_to 'Edit', edit_email_template_path(@email_template) %> |
<%= link_to 'Back', email_templates_path %>
