<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @email_template.name %>
</p>

<p>
  <strong>Body:</strong>
  <%= @email_template.body %>
</p>

<%= link_to 'Edit', [:admin, @email_template] %> |
<%= link_to 'Back', admin_email_templates_path %>
