<%= bootstrap_form_for [@wholesale_customer, @order] do |f| %>
    <div class="input-append date">
      <%= f.label :date %>
      <input class="col-sm-4" data-behaviour='datepicker' value="<%= @order.try(:date).try(:strftime, "%d/%m/%Y") || Date.current.strftime("%d/%m/%Y") %>" id="order_date" name="order[date]" type="text">
      </input>
      <span class="add-on">
        <i class="icon-th"></i>
      </span>
    </div>
  <h2>Lines Items</h2>
  <div class="items">
    <%= f.nested_fields_for :line_items do |f| %>
      <fieldset class="item">
        <%= f.collection_select(:bread_type_id, BreadType.all, :id, :name) %>
        <%= f.number_field :quantity %>

      <a href="#" class="remove btn btn-default btn-xs btn-danger">remove</a>

      <%= f.hidden_field :id %>
      <%= f.hidden_field :_destroy %>
    </fieldset>
  <% end %>
  </div>
  <a href="#" class="add btn btn-small btn-success">add bread order</a>
  <script type="text/javascript">
    $(document).ready(function(e) {
        $('FORM').nestedFields();
        });

$('#order_date').datepicker({
format: "dd/mm/yyyy",
weekStart: 1,
todayBtn: "linked"
});
  </script>
<%= f.form_group :payment do %>
  <%= f.check_box :invoiced, inline: true %>
  <%= f.check_box :sample, inline: true %>
  <%= f.check_box :regular, inline: true %>
<% end %>

<%= f.text_area :note %>
<% button_label = @order.persisted? ? "Update" : "Create" %>
<%= f.submit button_label, class: "btn btn-default btn-success" %>

<% end %>
