<%= form_for [@wholesale_customer, @order] do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <div class="input-append date">
      <%= f.label :date %>
      <input class="col-sm-4" data-behaviour='datepicker' value="<%= Date.current.strftime("%d/%m/%Y") %>" id="order_date" name="order[date]" type="text">
      </input>
      <span class="add-on">
        <i class="icon-th"></i>
      </span>
    </div>
  <h2>Lines Items</h2>
  <div class="items">
    <%= f.nested_fields_for :line_items do |f| %>
      <fieldset class="item">
      <div class="field">
        <%= f.label :bread_type %>
        <%= f.collection_select(:bread_type_id, BreadType.all, :id, :name) %>
      </div>

      <div class="field">
        <%= f.label :quantity %>
        <%= f.number_field :quantity %>
      </div>

      <a href="#" class="remove">remove</a>

      <%= f.hidden_field :id %>
      <%= f.hidden_field :_destroy %>
    </fieldset>
  <% end %>
  </div>
  <a href="#" class="add">add line item</a>
  <script type="text/javascript">
    $(document).ready(function(e) {
        $('FORM').nestedFields();
        });

$('#order_date').datepicker({
format: "dd/mm/yyyy",
weekStart: 1,
todayBtn: "linked"
});
  </script>
<div class="field">
<%= f.label :paid %>
<%= f.check_box :paid %>
</div>
<div class="field">
<%= f.label :regular %>
<%= f.check_box :regular %>
</div>
<div class="actions">
<%= f.submit %>
</div>
<% end %>
