<h1>Listing orders</h1>

<table>
  <thead>
    <tr>
      <th>Wholesale Customer</th>
      <th>Date</th>
      <th>Invoiced</th>
      <th>Regular</th>
      <th>Sample</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.wholesale_customer.name %></td>
        <td><%= order.date %></td>
        <td><%= order.invoiced %></td>
        <td><%= order.regular %></td>
        <td><%= order.sample %></td>
        <td><%= link_to 'Show', wholesale_customer_order_path(order.wholesale_customer, order) %></td>
        <td><%= link_to 'Edit', edit_wholesale_customer_order_path(order.wholesale_customer, order) %></td>
        <td><%= link_to 'Destroy', wholesale_customer_order_path(order.wholesale_customer, order), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
