<p id="notice"><%= notice %></p>

<p>
  <strong>Wholesale Customer:</strong>
  <%= @order.wholesale_customer.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @order.date %>
</p>

<p>
  <strong>Invoiced:</strong>
  <%= @order.invoiced %>
</p>
<p>
  <strong>Sample:</strong>
  <%= @order.sample %>
</p>

<p>
  <strong>Regular:</strong>
  <%= @order.regular %>
</p>
<h2>Line Items</h2>

<% @order.line_items.try(:each) do |line_item| %>
  <p><%= "#{line_item.bread_type.name}: #{line_item.quantity}" %></p>
<% end %>

<p>
  <strong>Note:</strong>
  <%= @order.note %>
</p>



<%= link_to 'Edit', edit_wholesale_customer_order_path(@wholesale_customer, @order) %> |
<%= link_to 'Back', wholesale_customer_orders_path(@wholesale_customer) %>
