<p id="notice"><%= notice %></p>

<p>
  <strong>Wholesale:</strong>
  <%= @order.wholesale %>
</p>

<p>
  <strong>Date:</strong>
  <%= @order.date %>
</p>

<p>
  <strong>Paid:</strong>
  <%= @order.paid %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
