<h1>Delivery Report</h1>

<%= link_to('Yesterday <', admin_delivery_reports_path(date: (@delivery_report.date - 1.day).to_s)) %>
&emsp;
<%= @delivery_report.date.strftime("%a #{@delivery_report.date.day.ordinalize} %b %y") %>
&emsp;
<%= link_to('> Tomorrow', admin_delivery_reports_path(date: (@delivery_report.date + 1.day).to_s)) %>

<%= form_tag("/admin/delivery_reports/", method: "get") do %>
  <%= label_tag(:date, "Jump to date:") %>
  <%= text_field_tag(:date) %>
  <%= submit_tag("Go") %>
<% end %>
<script type="text/javascript">
  $(document).ready(function(e) {

  $('#date').datepicker({ format: "dd/mm/yyyy", weekStart: 1,
      todayBtn: "linked", autoclose: true
      });
  });

</script>


<table>
  <thead>
    <tr>
      <th>Wholesale Customer</th>
      <th>Bread Type</th>
      <th>Quantity</th>
      <th>Order Notes</th>
      <th>Invoiced</th>
      <th>Regular</th>
      <th>Sample</th>
      <th>Delivery Receipt</th>
    </tr>
  </thead>

  <tbody>
    <% @delivery_report.wholesale_show.try(:each) do |wholesale| %>
      <tr>
        <td><strong><%= link_to wholesale.wholesale_customer.name, admin_wholesale_customer_order_path(wholesale.wholesale_customer, wholesale.order) %></strong></td>
        <td></td>
        <td></td>
        <td><%= wholesale.order.note %></td>
        <td><%= wholesale.order.invoiced ? 'Y' : 'N' %></td>
        <td><%= wholesale.order.regular ? 'Y' : 'N' %></td>
        <td><%= wholesale.order.sample ? 'Y' : 'N' %></td>
        <td><%= wholesale.wholesale_customer.delivery_receipt ? 'Y' : 'N' %></td>
      </tr>
      <% wholesale.items.try(:each) do |item| %>
        <tr>
          <td></td>
          <td><%= item.bread_type.name %></td>
          <td><%= item.quantity %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<table>
  <thead>
    <tr>
      <th>Collection Point</th>
      <th>Subscriber</th>
      <th>Bread Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @delivery_report.show.try(:each) do |delivery| %>
      <tr>
        <td><strong><%= link_to delivery.collection_point.name, [:admin, delivery.collection_point] %></strong></td>
      </tr>
      <% delivery.items.try(:each) do |item| %>
        <tr>
          <td> </td>
          <td><%= link_to(item.subscriber.full_name, item.subscriber) %></td>
          <td><%= item.bread_type.name %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<p>
  Download:
  <%= link_to "CSV", admin_delivery_reports_path(date: (@delivery_report.date), format: "csv") %>
</p>

<br>
