You are currently paying for <%= pluralize(current_subscriber.num_paid_subs, "loaf") %> of bread.
<%= form_tag stripe_sub_path do %>
  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          <% if(current_subscriber.stripe_customer_id) %>
            data-description="Current Card ends in <%= current_subscriber.payment_card.last4 %>"
          <% else %>
            data-description="Start a subscription"
          <% end %>
          data-amount="<%= current_subscriber.bread_types.size %>000"
          data-currency="gbp"
          data-allow-remember-me="false"
          <% if(current_subscriber.stripe_customer_id) %>
            data-label="Change card details"
          <% else %>
            data-label="Pay for <%= pluralize(current_subscriber.bread_types.size, "loaf") %> "
          <% end %>

          data-panel-label="Pay £<%= current_subscriber.bread_types.size %>0 every 4 weeks"
          data-email=<%= current_subscriber.email %>
          data->
  </script>
<% end %>

<table>
  <thead>
    <tr>
      <th>Bread Type</th>
      <th>Collection Point</th>
      <th>Delivery Day</th>
    </tr>
  </thead>

  <tbody>
    <% current_subscriber.subscriber_items.try(:each) do |subscriber_item| %>
      <tr>
        <td><%= subscriber_item.bread_type.name %></td>
        <td><%= current_subscriber.collection_point.name %></td>
        <td><%= subscriber_item.collection_day_name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if (current_subscriber.num_paid_subs > 0) %>
  <p><%= link_to "Cancel my payments", stripe_sub_path, data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-danger' %></p>
<% end %>
