You are currently paying for <%= pluralize(@subscriber.num_paid_subs, "loaf") %> of bread.
<%= form_tag subscriber_subs_path(@subscriber) do %>
  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Start a subscription"
          data-amount="<%= @subscriber.bread_types.size %>000"
          data-currency="gbp"
          data-allow-remember-me="false"
          data-label="Pay for <%= pluralize(@subscriber.bread_types.size, "loaf") %> "
          data-panel-label="Pay £<%= @subscriber.bread_types.size %>0 every 4 weeks"
          data-email=<%= @subscriber.email %>
          data->
  </script>
<% end %>

<% if (@subscriber.num_paid_subs > 0) %>
  <p><%= link_to "Cancel my payments", subscriber_subs_path(@subscriber), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-danger' %></p>
<% end %>
