<%= form_for(@subscriber) do |f| %>
  <% if @subscriber.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subscriber.errors.count, "error") %> prohibited this subscriber from being saved:</h2>

      <ul>
      <% @subscriber.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.email_field :email %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_area :address %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.phone_field :phone %>
  </div>
  <div class="form-group">
    <%= f.label :collection_point %>
    <%= f.collection_select(:collection_point_id, CollectionPoint.all, :id, :name) %>
  </div>
  <div class="form-group">
    <%= f.label :bread_type %>
    <%= f.collection_select(:bread_type_id, BreadType.all, :id, :name) %>
  </div>

  <div class="form-group">
    <div class="input-append date">
      <%= f.label :start_date, "Start date" %>
      <input class="col-sm-4" data-behaviour='datepicker' value="<%= ((Date.current + 7.days).beginning_of_week + 2.days).try(:strftime, "%d/%m/%Y") %>" id="subscriber_start_date" name="subscriber[start_date]" type="text">
      </input>
      <span class="add-on">
        <i class="icon-th"></i>
      </span>
    </div>
    <script type="text/javascript">
      $('#subscriber_start_date').datepicker({
         format: "dd/mm/yyyy",
         weekStart: 1,
         todayBtn: "linked",
         daysOfWeekDisabled: "0,1,2,4,6"
         });
    </script>
  </div>
  <div class="form-group">
    <%= f.label :num_paid_subs %>
    <%= f.number_field :num_paid_subs %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
