<%= form_for(@subscriber) do |f| %>
  <% if @subscriber.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subscriber.errors.count, "error") %> prohibited this subscriber from being saved:</h2>

      <ul>
      <% @subscriber.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.email_field :email %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_area :address %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.phone_field :phone %>
  </div>
  <div class="form-group">
    <%= f.label :collection_point %>
    <%= f.collection_select(:collection_point_id, CollectionPoint.all, :id, :name) %>
  </div>

  <div class="items">
    <%= f.nested_fields_for :subscriber_items do |g| %>
      <fieldset class="item">
      <div class="field">
        <%= g.label :bread_type %>
        <%= g.collection_select(:bread_type_id, BreadType.all, :id, :name) %>
      </div>

      <a href="#" class="remove">remove subscription</a>

      <%= g.hidden_field :_destroy %>
    </fieldset>
  <% end %>
  </div>
  <a href="#" class="add">add another bread subscription</a>
  <script type="text/javascript">
    $(document).ready(function(e) {
        $('FORM').nestedFields();

        if ($('.item').size() == 1) {
          $('.items').nestedFields('insert', function(item) {
            }, {skipBefore: false});
        }
        });
  </script>

  <div class="form-group">
    <%= f.label :collection_day %>
    <%= f.select(:collection_day, options_for_select([['Wednesday', 3], ['Friday', 5]]) ) %>
  </div>
  <div class="form-group">
    <%= f.label :num_paid_subs %>
    <%= f.number_field :num_paid_subs %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
