<% model_class = Subscriber %>
<div class="page-header">
  <h1>
    <%= t '.title', :default => "Subscribers" %>
  </h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>
        <%= model_class.human_attribute_name(:full_name) %>
      </th>
      <th>
        <%= model_class.human_attribute_name(:collection_point) %>
      </th>
      <th>
        <%= model_class.human_attribute_name(:email) %>
      </th>
      <th>
        <%= model_class.human_attribute_name(:phone) %>
      </th>
      <th>
        <%= t '.actions', :default => t("helpers.actions") %>
      </th>
    </tr>
  </thead>
  <tbody>
    <% @subscribers.each do |subscriber| %>
      <tr>
        <td>
          <%= link_to subscriber.full_name, subscriber_path(subscriber) %>
        </td>
        <td>
          <%= subscriber.collection_point.name %>
        </td>
        <td>
          <%= subscriber.email %>
        </td>
        <td>
          <%= subscriber.phone %>
        </td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")), edit_admin_subscriber_path(subscriber), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")), admin_subscriber_path(subscriber), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= form_tag import_subscribers_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>

<%= link_to t('.new', :default => t("helpers.links.new")), new_admin_subscriber_path, :class => 'btn btn-primary' %>
