<h1>Listing subscribers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Collection point</th>
      <th>Start date</th>
      <th>Paid until</th>
      <th>Bread type</th>
      <th>Quantity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @subscribers.each do |subscriber| %>
      <tr>
        <td><%= subscriber.name %></td>
        <td><%= subscriber.address %></td>
        <td><%= subscriber.phone %></td>
        <td><%= subscriber.collection_point %></td>
        <td><%= subscriber.start_date %></td>
        <td><%= subscriber.paid_until %></td>
        <td><%= subscriber.bread_type %></td>
        <td><%= subscriber.quantity %></td>
        <td><%= link_to 'Show', subscriber %></td>
        <td><%= link_to 'Edit', edit_subscriber_path(subscriber) %></td>
        <td><%= link_to 'Destroy', subscriber, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Subscriber', new_subscriber_path %>
