<p>
  <strong>Name:</strong>
  <%= @subscriber.full_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @subscriber.email %>
</p>

<p>
  <strong>Address:</strong>
  <%= @subscriber.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @subscriber.phone %>
</p>

<p>
  <strong>Collection point:</strong>
  <%= @subscriber.collection_point.name %><br>
  <%= "#{@subscriber.collection_point.address}, #{@subscriber.collection_point.post_code}" %>
</p>

<p>
  <strong>Bread subscripts:</strong>
  <% bread_subs = @subscriber.subscriber_items.try(:map) do |sub_item| %>
    <% next unless sub_item.paid %>
    <% "#{sub_item.bread_type.name} on #{sub_item.collection_day_name}" %>
  <% end %>
  <%= bread_subs.join(', ') %>
</p>

<p>
  <strong>Monthly Payment</strong>
  <%= number_to_currency @subscriber.monthly_payment %>
</p>

<p>
  <strong>Notes</strong>
  <%= @subscriber.notes %>
</p>

<p>
  <strong>Created at</strong>
  <%= @subscriber.created_at.to_date %>
</p>
<p>
  <strong>Updated at</strong>
  <%= @subscriber.updated_at.to_date %>
</p>


<%= link_to "Edit", edit_admin_subscriber_path(@subscriber) %>
