<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @subscriber.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @subscriber.email %>
</p>

<p>
  <strong>Address:</strong>
  <%= @subscriber.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @subscriber.phone %>
</p>

<p>
  <strong>Collection point:</strong>
  <%= @subscriber.collection_point.name %><br>
  <%= @subscriber.collection_point.address + ", " + @subscriber.collection_point.post_code %>
</p>

<p>
  <strong>Pick-up day:</strong>
  <%= @subscriber.day_of_the_week.to_s %>
  <% if (Time.zone.today < @subscriber.start_date) %>
    (with your first collction on the <%= @subscriber.start_date.strftime("#{@subscriber.start_date.day.ordinalize} of %B") %>)
  <% end %>

</p>

<p>
  <strong>Bread type:</strong>
  <%= @subscriber.bread_type.name %>
  </p>
