<h1>Delivary Report</h1>

<%= link_to('Yesterday <', delivery_reports_path(date: (@delivery_report.date - 1.day).to_s)) %> 
&emsp;
<%= @delivery_report.date.strftime("%a #{@delivery_report.date.day.ordinalize} %b %y") %>
&emsp;
<%= link_to('> Tomorrow', delivery_reports_path(date: (@delivery_report.date + 1.day).to_s)) %>
<table>
  <thead>
    <tr>
      <th>Collection Point</th>
      <th>Subscriber</th>
      <th>Bread Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @delivery_report.show.try(:each) do |delivery| %>
      <% next unless delivery.any? %>
      <tr>
        <td><strong><%= delivery[0].collection_point.name %></strong></td>
      </tr>
      <% delivery.try(:each) do |subscriber| %>
        <tr>
          <td> </td>
          <td><%= link_to(subscriber.name, subscriber) %></td>
          <td><%= subscriber.bread_type.name %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<p>
  Download:
  <%= link_to "CSV", delivery_reports_path(date: (@delivery_report.date), format: "csv") %>
</p>

<br>
