<%= bootstrap_form_for(@subscriber, as: :subscriptions, url: update_all_admin_subscriber_subscriptions_path(@subscriber), html: { method: :put }) do |f| %>
  <% if @subscriber.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-error">
        <%= "#{pluralize(@subscriber.errors.count, "error")} prohibited this booking from being saved:" %>
      </div>
    </div>
  <% end %>

  <%= render 'shared/subscription', f: f%>

  <% if @subscriber.pays_with_stripe? %>
    <strong>Changing number of subscriptions will change your monthly payment on card ending in <%= @subscriber.payment_card.last4 %></strong>
  <% else %>
    <strong>No card is recorded for this subscriber, they will need to edit standing order manually</strong>
  <% end %>
  </br>

  <%= f.submit 'Update', class: "btn btn-default btn-sm btn-success" %>
<% end %>
