<!doctype html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en-US" prefix="og: http://ogp.me/ns#"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en-US" prefix="og: http://ogp.me/ns#"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en-US" prefix="og: http://ogp.me/ns#"> <![endif]-->
<!--[if IE 9 ]><html class="ie ie9" lang="en-US" prefix="og: http://ogp.me/ns#"> <![endif]-->
<!--[if (gte IE 10)|!(IE)]><!--><html lang="en-US" prefix="og: http://ogp.me/ns#"> <!--<![endif]-->

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Home - Leeds Bread Co-operative</title>

  <link rel="profile" href="http://gmpg.org/xfn/11" />

  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

  <!-- Add CSS3 Rules here for IE 7-9
================================================== -->

  <!--[if IE]>
<style type="text/css">
html.ie #navigation,
html.ie a.button,
html.ie .cta,
html.ie .wp-caption,
html.ie #breadcrumbs,
html.ie a.more-link,
html.ie .gallery .gallery-item img,
html.ie .gallery .gallery-item img.thumbnail,
html.ie .widget-container,
html.ie #author-info {behavior: url("http://leedsbread.coop/wp-content/themes/skeleton/PIE.php");position: relative;}</style>
<![endif]-->


  <!-- Mobile Specific Metas
================================================== -->

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <!-- Favicons
================================================== -->
  <%= favicon_link_tag 'favicon.ico' %>

  <link rel="apple-touch-icon" href="<%= image_path("apple-touch-icon.png") %>">

  <link rel="apple-touch-icon" sizes="72x72" href="<%= image_path("apple-touch-icon-72x72.png") %>">

  <link rel="apple-touch-icon" sizes="114x114" href="<%= image_path("apple-touch-icon-114x114.png") %>">

  <!-- This site is optimized with the Yoast WordPress SEO plugin v1.5.3.3 - https://yoast.com/wordpress/plugins/seo/ -->
  <meta name="description" content="Bakery making artisan Sourdough and Slowly Fermented bread for the good people of Leeds and surrounds. Markets and bread subs."/>
  <link rel="canonical" href="http://leedsbread.coop/" />
  <meta property="og:locale" content="en_UK" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Home - Leeds Bread Co-operative" />
  <meta property="og:description" content="Bakery making artisan Sourdough and Slowly Fermented bread for the good people of Leeds and surrounds. Markets and bread subs." />
  <meta property="og:site_name" content="Leeds Bread Co-operative" />
  <meta property="og:image" content="<%= image_path("home-learn-more.png") %>" />
  <!-- / Yoast WordPress SEO plugin. -->
  <link rel='stylesheet' id='googlefonts-css'  href='http://fonts.googleapis.com/css?family=Glegoo:400|Dosis:200&subset=latin' type='text/css' media='all' />
  <meta name="generator" content="WordPress 3.9.2" />
  <link rel='shortlink' href='http://leedsbread.coop/' />
  <style type='text/css' media='screen'>
    body{ font-family:"Glegoo", arial, sans-serif;}
    h3{ font-family:"Dosis", arial, sans-serif;}
  </style>
  <!-- Responsive Select CSS
================================================================ -->
  <style type="text/css" id="responsive-select-css">
    .responsiveSelectContainer select.responsiveMenuSelect, select.responsiveMenuSelect{
      display:none;
    }

    @media (max-width: 767px) {
      .responsiveSelectContainer{
        border:none !important;
        background:none !important;
        box-shadow:none !important;
      }
      .responsiveSelectContainer ul, ul.responsiveSelectFullMenu, #megaMenu ul.megaMenu.responsiveSelectFullMenu{
        display: none !important;
      }
      .responsiveSelectContainer select.responsiveMenuSelect, select.responsiveMenuSelect {
        display: inline-block;
        width:100%;
      }
    }
  </style>
  <!-- end Responsive Select CSS -->

  <!-- Responsive Select JS
================================================================ -->
  <script type="text/javascript">
    jQuery(document).ready( function($){
        $( '.responsiveMenuSelect' ).change(function() {
          var loc = $(this).find( 'option:selected' ).val();
          if( loc != '' && loc != '#' ) window.location = loc;
          });
        //$( '.responsiveMenuSelect' ).val('');
        });
  </script>
  <!-- end Responsive Select JS -->


  <script type="text/javascript">

    /* CAMBIO FADE LOGO Y LINKS */

  /* http://mths.be/slideshow v1.0.0 by @mathias */
  /* https://github.com/mathiasbynens/jquery-slideshow */

  ;(function($) {
      $.fn.slideshow = function(options) {
      options = $.extend({
        'timeout': 3000,
        'speed': 400 // 'normal'
        }, options);
      // We loop through the selected elements, in case the slideshow was called on more than one element e.g. `$('.foo, .bar').slideShow();`
      return this.each(function() {
        // Inside the setInterval() block, `this` references the window object instead of the slideshow container element, so we store it inside a var
        var $elem = $(this);
        $elem.children().eq(0).appendTo($elem).show();
        // Iterate through the slides
        setInterval(function() {
          $elem.children().eq(0)
          // Hide the current slide and append it to the end of the image stack
          .hide().appendTo($elem) // As of jQuery 1.3.2, .appendTo() returns the inserted element
          // Fade in the next slide
          .fadeIn(options.speed)
          }, options.timeout);
        });
      };
  }(jQuery));


$(document).ready(function() {
    $('.slideshow').slideshow({ timeout: 5000, speed: 800 }); /* Slideshow from heade */
    });

  </script>

  <script>
    // HTML5 PLACEHOLDER  -  http://www.cssnewbie.com/cross-browser-support-for-html5-placeholder-text-in-forms/#.UYabjysuV80
    // This adds 'placeholder' to the items listed in the jQuery .support object.
  jQuery(function() {
      jQuery.support.placeholder = false;
      test = document.createElement('input');
      if('placeholder' in test) jQuery.support.placeholder = true;
      });

// This adds placeholder support to browsers that wouldn't otherwise support it.
$(function() {
    if(!$.support.placeholder) {
    var active = document.activeElement;
    $(':text').focus(function () {
      if ($(this).attr('placeholder') != '' && $(this).val() == $(this).attr('placeholder')) {
      $(this).val('').removeClass('hasPlaceholder');
      }
      }).blur(function () {
        if ($(this).attr('placeholder') != '' && ($(this).val() == '' || $(this).val() == $(this).attr('placeholder'))) {
        $(this).val($(this).attr('placeholder')).addClass('hasPlaceholder');
        }
        });
    $(':text').blur();
    $(active).focus();
    $('form:eq(0)').submit(function () {
      $(':text.hasPlaceholder').val('');
      });
    }
    });
  </script>
  <!--[if lt IE 9]
      <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" %>
    -->

  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>


</head>
<body class="home page page-id-4 page-template-default">
  <div id="wrap" class="container">
    <div class="resize"></div>

    <div id="main-header" class="twelve columns">
      <div class="lbc-logo">
        <a href="http://leedsbread.coop/">
          <%= image_tag 'leeds-bread-coop-logotype.png', class: 'scale-with-grid', alt: "Leeds Bread Coop" %>
        </a>
      </div>

      <!-- UL con PHP dentro que analiza la carpeta y crea LI con las imgs -->
      <ul class="slideshow">
        <li>
          <%= image_tag 'transp.gif',
            style: "background-image:url('#{image_path("leeds-bread-coop(1).png")}'); background-repeat:no-repeat; background-position:center; background-size: cover; min-height:150px;", class: :'scale-with-grid' %>
        </li><li>
          <%= image_tag 'transp.gif',
            style: "background-image:url('#{image_path("leeds-bread-coop(2).png")}'); background-repeat:no-repeat; background-position:center; background-size: cover; min-height:150px;", class: :'scale-with-grid' %>
        </li><li>
          <%= image_tag 'transp.gif',
            style: "background-image:url('#{image_path("leeds-bread-coop(3).png")}'); background-repeat:no-repeat; background-position:center; background-size: cover; min-height:150px;", class: :'scale-with-grid' %>
        </li><li>
          <%= image_tag 'transp.gif',
            style: "background-image:url('#{image_path("leeds-bread-coop(4).png")}'); background-repeat:no-repeat; background-position:center; background-size: cover; min-height:150px;", class: :'scale-with-grid' %>
        </li><li>
          <%= image_tag 'transp.gif',
            style: "background-image:url('#{image_path("leeds-bread-coop(5).png")}'); background-repeat:no-repeat; background-position:center; background-size: cover; min-height:150px;", class: :'scale-with-grid' %>
        </li><li>
          <%= image_tag 'transp.gif',
            style: "background-image:url('#{image_path("leeds-bread-coop(6).png")}'); background-repeat:no-repeat; background-position:center; background-size: cover; min-height:150px;", class: :'scale-with-grid' %>
        </li>
      </ul>
      <div class="lbc-menu">
        <div id="navigation"><div class="responsiveSelectContainer"><ul id="menu-main_menu-1" class="menu responsiveSelectFullMenu">
              <li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-4 current_page_item menu-item-290">
                <%= link_to "Home", "http://leedsbread.coop/" %>
              </li>
              <%= render 'layouts/menu' %>
              </ul>
            </div>
          </div><!--/#navigation-->
        </div>
      </div>

  <a name="top" id="top"></a><div id="content" class="twelve columns">

    <div id="post-4" class="type-page status-publish hentry">


      <!--<h2 class="entry-title">Home</h2>-->


      <div class="entry-content">
          <%= render 'layouts/messages' %>
            <%= render_breadcrumbs %>
            <%= yield %>
        </div>
      </div>
    </div>
    <div class="clear"></div>
      <div id="footer" class="normal twelve columns">

  <div class="clear">
  </div>
  <div id="credits">
    <span class="sociallinks">
      <a href="http://www.facebook.com/pages/Leeds-Bread-Coop/245404722229376" class="iconSocial social-facebook">
        <%= image_tag "transp.gif", alt: "Leeds Bread Co-op on Facebook", height: 25, width: 25 %>
      </a>
      <a href="https://twitter.com/LeedsBreadCoop" class="iconSocial social-twitter">
        <%= image_tag 'transp.gif', alt: "Leeds Bread Co-op on Twitter", height: 25, width: 25 %>
      </a>
      </span>
      <span class="webowner">Leeds Bread Co-op · 2014</span>
      <span class="themeauthor">web. <a href="http://www.cocinadeideas.net" title="Cocina de ideas - Graphic and web design Leeds & Birmingham">Cocina de ideas</a></span>
      <a href="http://www.sustainweb.org/realbread/" class="realbread" title="Real bread campaign">
        <%= image_tag 'leeds-bread-coop-real-bread-campaign.png', alt: 'Real Bread Campaign', height: 80, width: 80 %>
      </a>
  </span>
</div>
</div><!--/#footer-->
</div><!--/#wrap.container-->
  </body>
</html>
