<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      "Leeds Bread Co-op"
    </title>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]
      <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" %>
    -->
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
  </head>
  <body>
    <div class="navbar navbar-fluid-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar">(data-target=".nav-collapse" data-toggle="collapse")
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <div class="container nav-collapse">
            <ul class="nav">
              <% if current_subscriber%>
                <li>
                  <%= link_to 'Logout', destroy_subscriber_session_path, :method => :delete, :data => { :confirm => 'Are you sure?' } %>
                </li>
                <% unless admin? %>
                  <li>
                  <%= link_to "Edit Account", edit_subscriber_registration_path %>
                </li>
                <li>
                  <%= link_to "Payment", new_subscriber_sub_path(current_subscriber) %>
                </li>
              <% end %>
              <% end %>
                <% if admin?%>
                  <li>
                    <%= link_to 'Subscribers', subscribers_path %>
                  </li>
                  <li>
                    <%= link_to 'Collection Points', collection_points_path %>
                  </li>
                  <li>
                    <%= link_to 'Bread Types', bread_types_path %>
                  </li>
                  <li>
                    <%= link_to 'Email Templates', email_templates_path %>
                  </li>
                  <li>
                    <%= link_to 'Wholesale', wholesale_customers_path %>
                  </li>
                  <li>
                    <%= link_to 'Delivery', delivery_reports_path %>
                  </li>
                  <li>
                    <%= link_to 'Production', production_reports_path %>
                  </li>
                <% end %>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <%= render 'layouts/messages' %>
          <div class="row">
            <%= render_breadcrumbs %>
            <%= yield %>
          </div>
          <footer>
            <p>&copy; Leeds Bread Co-Op 2014</p>
          </footer>
        </div>
      </div>
    </div>
  </body>
</html>
